<div class="page-header">
        <app-breadcrumb></app-breadcrumb>
    <div class="content-center">
        <div class="row row-grid justify-content-between align-items-center text-left">
            <div class="col-lg-12 col-md-12">
                <p class="text-center h0 text-capitalize ">Cookie Disclosure</p>
                <h3 class="text-white text-center txt-h3-reg mt-5">
                    Note: The English version of this Policy is the governing version and shall prevail whenever there is any discrepancy between the English version and the versions in any other language.
                </h3>
             </div>        
        </div>  
    </div>
</div>
<section class="section section-lg">
    <div class="container-fluid">
        <div class="row mx-5 mt-5">
            <div class="col-md-12">
                <div class="col mb-5"> 
                    <h1 class="text-white text-uppercase">1. Introduction</h1>
                    <p class="text-white txt-h3-reg">
                        The protection of privacy and the safeguarding of our Clients’ Personal Data is of great importance to us.
                    </p>
                    <p class="text-white txt-h3-reg">
                        Finalto (BVI) Limited (“Finalto BVI”) is a company incorporated under the laws of BVI, the registered office of which is at Ritter House, Wickhams Cay II,<br>
                        Road Town, Tortola, VG1110, British Virgin Islands (“Finalto BVI” or “us”) and is an investment services firm regulated in the conduct of its activities <br>
                        by the B.V.I Financial Services Commission (“FSC”) under the Securities and Investment Business Act, 2010, licence number SIBA/L/14/1067, and its  <br>
                        activities include the receipt, transmission and execution of client orders in financial instruments, including through the use of electronic trading platforms. <br>
                        This purpose of this Policy is to explain to you:
                    </p>
                    <ol>
                        <li class="fs-5"><p class="text-white txt-h3-reg">what the cookies are;</p></li>
                        <li class="fs-5"><p class="text-white txt-h3-reg">main cookies that we use, and what we use them for;</p></li>
                        <li class="fs-5"><p class="text-white txt-h3-reg">how you can restrict, block or delete cookies; and</p></li>
                        <li class="fs-5"><p class="text-white txt-h3-reg">other useful information about cookies.</p></li>
                    </ol>
                </div>
                <div class="col mb-5">
                    <h1 class="text-white text-uppercase">2. WHAT ARE COOKIES AND HOW TO DISABLE THEM?</h1>
                    <p class="text-white txt-h3-reg">
                        Cookies are small text files stored on your computer when you visit certain web pages. At Finalto BVI we use cookies on our website Tradx.com (the “Website”) 
                        to allow the Website to recognise you on subsequent visits, or to authorise other designated websites to recognise you. <br>
                        Cookies can be used by us for other purposes. For instance, they are used to remember your preferences on our Website, to remember your user ID on our Website, 
                        and to help you navigate between pages more efficiently. Cookies can also be used by us to collect information about webpages visited and content viewed by you, 
                        links and buttons clicked, URLs visited before and after you visit our Website. <br>
                        Much, though not all, of the data that is collected through cookies is anonymous, though some of it is designed to detect browsing patterns and approximate 
                        geographical location to improve your user experience. <br>
                        Most web browsers have cookies enabled and accept cookies automatically, but you can alter the settings of your browser to erase cookies or prevent automatic 
                        acceptance if you prefer. Generally you have the option to accept all cookies, to be notified when a cookie is issued or reject all cookies. Visit the ‘options’ 
                        or ‘preferences’ menu on your browser to change settings. You can find more information about how to turn off cookies here: 
                        <a class="a-link-personalized text-break" href="http://www.allaboutcookies.org/manage-cookies/">http://www.allaboutcookies.org/manage-cookies/</a>
                    </p>
                    <p class="text-white txt-h3-reg">
                        Please note that cookies can't harm your computer. We use encrypted information gathered from them to help improve your experience of the Website. <br>
                        For example, they help us to identify and resolve errors, or to determine relevant related products to show you when you're browsing. <br>
                        Do not track (DNT) is a feature offered by some browsers, with some newer browsers offering it as default. If you enable it, it sends a signal to <br>
                        websites to request that your browsing isn't tracked. <br>
                        We're giving you this information as part of our initiative to both comply with legislation, and make sure we're honest and clear about your privacy <br>
                        when using our Website.
                    </p>
                </div>
                <div class="col mb-5">
                    <h1 class="text-white text-uppercase">3. COOKIES THAT WE USE</h1>
                    <h2 class="text-white h2-personalized-regular">3.1 Our own cookies</h2>                                
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped text-center border-primary">
                                <thead>
                                    <tr class="text-white">
                                        <td>First Party</td>
                                        <td>Cookie <br> Name</td>
                                        <td>Lawful <br> Basis</td>
                                        <td colspan="2">Description</td>
                                        <td>Information <br> Collected</td>
                                        <td>Expiration of Cookie</td>
                                        <td>Geographic Location</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            TradX.com <br>
                                            Internal <br>
                                            Cookies <br>
                                        </td>
                                        <td>cookies-configured</td>
                                        <td>Strictly Necessary</td>
                                        <td colspan="2">
                                            Stores Customers’ user preference data to make sure that the version of the Website displayed to the customer is 
                                            their preference.
                                        </td>
                                        <td>User preferences</td>
                                        <td>1 year</td>
                                        <td>London & Limburg</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            TradX.com <br>
                                            Internal <br>
                                            Cookies <br>
                                        </td>
                                        <td>PHPSESSID</td>
                                        <td>Strictly Necessary </td>
                                        <td colspan="2">
                                            Stores Customers’ geographical location data to make sure that the version of the Website displayed to the customer is in their 
                                            language and is tailored for his country of residence.
                                        </td>
                                        <td>User ID, session ID</td>
                                        <td>Session</td>
                                        <td>London & Limburg</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            TradX.com <br>
                                            Internal <br>
                                            Cookies <br>
                                        </td>
                                        <td>preferred site</td>
                                        <td>Strictly Necessary </td>
                                        <td colspan="2">Stores Customers geographical location data – same as above</td>
                                        <td>Location, User Preferences</td>
                                        <td>6 Months</td>
                                        <td>London & Limburg</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <h2 class="text-white h2-personalized-regular mb-5">3.2 Click here to see all third-party cookies.</h2> 
                    <h1 class="text-white text-uppercase">IMPORTANT INFORMATION</h1>
                    <p class="text-white txt-h3-reg">
                        If you disable one or more cookie categories, we’ll stop using that type of cookie to gather any further information. However, <br>
                        we may still use information collected from existing cookies on your device. If you want to delete existing cookies from your browser, <br>
                        you’ll need to do so manually from your device.
                    </p><br>
                    <h1 class="text-white text-uppercase">COOKIES POLICY UPDATES</h1>
                    <p class="text-white txt-h3-reg">
                        From time to time, Safecap may update this Policy. The revised Cookies Policy will be posted on the Website keeping you informed. For any <br>
                        queries or further information in relation to this Cookies Policy please Contact Us through Customer Support or 
                        <a class="text-white text-break" href="mailto:#">privacy&#64;markets.com</a>. <br>
                        Otherwise, for more information on how we are committed to keeping your personal information secure, please see our 
                        <a class="text-white text-break" href="http://#"> Privacy Policy</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-lg">
    <div class="container-fluid">
        <div class="row mx-5 mt-5">
            <div class="col">
                <p class="h0 text-capitalize mb-5">Update Cookie Setting</p>
                <h2 class="text-white h2-personalized-regular mb-5">
                    Some cookies are necessary for the function of the <br>
                    website while others help third-party partners <br>
                    to present you with ads that reflect your interests.
                </h2>
            </div>
            <div class="col">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-5">
                    <button type="button" class="btn-primary btn-lg btn-start-trading me-md-2">Update My Cookie Toggle &nbsp;<i class="fas fa-chevron-right"></i></button>
                </div>
                <h2 class="text-right txt-h2-personalized-color mb-5">You can review your settings <br> on the cookie centre tool.</h2>
            </div>            
        </div>
    </div>
</section>