.txt-h3-reg {
    font-size: 20px !important;
    font-weight: 400;
}
.d-grid-personalized {
    padding-top: 5%;
}
.table-striped>thead>tr>th {
    background-color: transparent;
    text-transform: capitalize;
}
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #010203;
}
.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: #0D1936;
}
#circulo{
    height:20px;
    width:20px;
    background:#000000;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    border-style: dotted;
    border-color: #848484;
    border-width: 1.5px;
    float: right;
 }

.txt-h4-personalized {
    font-size: 18px;
    line-height: 32px;
}
.li-personalized {
    line-height: 32px;
    list-style-image: url('../../assets/img/check-li-origin2.png') ;
    padding-left: 2%;
    padding-bottom: 1%;
}

.img-personalized-size {
    width: 20rem;
    vertical-align: top;
    position: relative;
    margin-left: 8rem;
    margin-right: 8rem;
}
.select-personalized {
    height: 50px;
    border: 1px solid #2853a5;
    background-color: #000000;
    color: #ffffff;
    /* font-size: calc(.5vw + 1.2vh); */
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23FF1802' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}
.select-currencies-personalized{
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23FF1802' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-color: #0E1422;
    border: 0;
    color: white;
    width: auto;
}
.chevron {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 16' fill='none' %3e%3cpath d='M1.49684 14.3323L8.10547 7.72363L1.49684 1.11501' stroke='%23FF1802' stroke-width='1.91489' stroke-linecap='round' /%3e%3c/svg%3e")
}
.bg-col-personalized {
    background: transparent;
    border: 1px solid #2853a5;
    border-radius: 5px;
    padding: 2% 2% 1% 2%;
    margin: 1%;
    width: 31.11111111%;
}
.inp-group-personalized {
    background-color: transparent;
    border: 0;
    font-size: smaller;
}
.txt-span-calculator {
    color: #669BFF;
    font-size: .8rem;
}
.bg-accordion-personalized {
    background: linear-gradient(181deg, #000000 8.5%, #0a1529 143%) !important;
    color: white;
    border-bottom-style: dashed; 
    border-bottom-width: 1px;
    border-bottom-color: #2853A5;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23FF1802' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23FF1802' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    font-size: 12px;
}
.accordion-item {
    border: 0;
}
.input-email, .input-password {
    border: 1px solid #2853a5;
    background-color: #000000;
    color: white;
    height: 52px;
    font-size: 14px;
    line-height: 20px;
}
.input-email::placeholder, .input-password::placeholder {
    color: white;
}
/* @media (max-width: 767px) {
    .d-flex.align-items-center {
        flex-direction: column;
        text-align: center;
    }
    
    .d-flex.align-items-center img {
        margin: 10px 0 0 0; 
    }
} */
