<div class="page-header">
    <div class="content-center">
      <!-- <app-breadcrumb></app-breadcrumb> -->
        <div class="row row-grid justify-content-between align-items-center text-left">
            <div class="col-lg-12 col-md-12">
                <p class="text-center h0">Forex</p>
                <h3 class="text-white text-center txt-h3-reg">Explore trading opportunities in the world’s most traded financial market and get access to major, minor, and exotic CFD currency pairs.</h3>
                

            </div>        
        </div> 
        <div class="d-grid gap-2 d-md-flex justify-content-md-center  d-grid-personalized">
            <button class="btn-primary me-md-2 btn-lg btn-start-trading" type="button">Trade Forex &nbsp;<i class="fas fa-chevron-right"></i></button>
        </div>     
    </div>
</div>

<section class="section section lg">
    <h1 class="text-white text-center" style="margin-top: 5%; font-size: 34px; line-height: 51px; font-weight: 500;">Discover Forex CFDs</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button type="button" class="btn-primary btn-lg me-md-2 btn-personalized active" aria-pressed="true">All Pairs</button>
        <button type="button" class="btn-primary btn-lg me-md-2 btn-personalized">Top Gainers</button>
        <button type="button" class="btn-primary btn-lg me-md-2 btn-personalized">Losing Down</button>
    </div>
    <br>
    <!-- Div cards discover forex-->
    <div class="container-fluid div-lead">
        <div class="row row-cols-1 row-cols-md-4 g-6 div-card">
            <div *ngFor="let item of cardFourColumnsPaginated.paginatedCards" class="col">
              <app-card
                [title]="item.title"  
                [text]="item.text" 
                [links]="item.links"
                [img]="item.img"
                [cardClass]="item.cardClass"
                [titleClass]="item.title"
                [textClass]="item.textClass"
                [cardStyle]="item.cardStyle"
                [textStyle]="item.textStyle">
              </app-card>        
            </div>      
          </div>
        <app-pagination 
            [currentPage]="cardFourColumnsPaginated.currentPage" 
            [totalPages]="cardFourColumnsPaginated.totalPages" 
            (pageChanged)="onPageChangedCards($event, cardFourColumnsPaginated)">
        </app-pagination>
    </div>
    <br><br>
    <!-- Div tables -->
    <div class="container-fluid div-lead" style="padding: 2% 8% 2% 8%;" id="tables">
        <div class="row">
            <div class="col-md-6 table-responsive">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                        <th scope="col"></th>
                        <th scope="col" sortable="assest">Assest</th>
                        <th scope="col" sortable="sell">Sell</th>
                        <th scope="col" sortable="buy">Buy</th>
                        <th scope="col" sortable="change">Change (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dataTable of table.data">
                            <td><div id="circulo"></div></td>
                            <td>{{ dataTable.assest }}</td>
                            <td>{{ dataTable.sell }}</td>
                            <td>{{ dataTable.buy }}</td>
                            <td colspan="2">
                                {{ dataTable.change }}&nbsp;&nbsp;&nbsp;&nbsp;
                                <img src="{{dataTable.img}}" width="102" height="32" alt="" srcset=""> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 table-responsive">
                <table class="table table-striped text-center" >
                    <thead>
                        <tr>
                        <th scope="col"></th>
                        <th scope="col" sortable="assest">Assest</th>
                        <th scope="col" sortable="sell">Sell</th>
                        <th scope="col" sortable="buy">Buy</th>
                        <th scope="col" sortable="change">Change (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dataTable of table.data">
                            <td><div id="circulo"></div></td>
                            <td>{{ dataTable.assest }}</td>
                            <td>{{ dataTable.sell }}</td>
                            <td>{{ dataTable.buy }}</td>
                            <td colspan="2">
                                {{ dataTable.change }}&nbsp;&nbsp;&nbsp;&nbsp;
                                <img src="{{dataTable.img}}" width="102" height="32" alt="" srcset=""> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <a href="#">View full CFDs List</a>
    </div>
    <br><br>
    <!-- Div info -->
    <div class="container">
        <div class="row">
            <h1 class="text-center text-white h1-personalized">what are currency pairs</h1><br><br><br>
            <div class="col-md-8 offset-md-2">
                <h3 class="text-md-center text-white fw-normal">
                    Currency pairs are financial instruments where one currency is quoted against another currency.  
                    The quote indicates the amount you would pay in one currency for the other.
                </h3>
            </div>
        </div>
        <div class="row"  style="margin-top: 4%;">
            <div class="clearfix">
                <h1 class="text-white text-capitalize">Here's a simplified example:</h1>
                <h3 class="text-white fw-normal">The currency pair GBP/USD is at 1.15. You can exchange 1 GBP for 1.15 USD.</h3>
                <ul>
                    <li class="li-personalized">
                        <h4 class="text-white fw-normal txt-h4-personalized" style="width: 50%; display: inline-block;">
                            If GBP/USD started the day at 1.15, and by the end of the day rose to 1.16, it's because the Sterling has strengthened against the Dollar.
                        </h4>
                        <img src="../../assets/img/map-gbp-usd-positive.png" width="350" class="img-fluid img-personalized-size" style="vertical-align: middle;float: right;"  alt="" srcset="">
                    </li>
                    <li class="li-personalized">
                        <h4 class="text-white fw-normal txt-h4-personalized" style="width: 50%; display: inline-block;">
                            If GBP/USD started the day at 1.15, then drops 1.13, it's because the Sterling has weakened against the Dollar.
                        </h4>
                        <img src="../../assets/img/map-gbp-usd-negative.png" class="img-fluid img-personalized-size" style="vertical-align: middle;float: right;"  alt="" srcset="">
                    </li>
                </ul>    
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-6">
                <img src="../../assets/img/map-gbp-usd-positive2.png" class="img-fluid " style="vertical-align: center;" alt="" srcset="">
            </div>
            <div class="col-md-6" style="display: inline-block;">
                <h1 class="text-white text-capitalize">Why Trade Forex CFDs with Trad X</h1>
                <ul>
                    <li class="li-personalized">
                        <h4 class="text-white fw-normal txt-h4-personalized">
                            Competitive spreads from 0.6 pips on EUR/USD
                        </h4> 
                    </li>
                    <li class="li-personalized">
                        <h4 class="text-white fw-normal txt-h4-personalized">
                            Powerful charting tools integral to the markets.com intuitive platform
                        </h4>
                    </li>
                    <li class="li-personalized">
                        <h4 class="text-white fw-normal txt-h4-personalized">
                            You can trade Forex 24/5
                        </h4>
                    </li>
                    <li class="li-personalized">
                        <h4 class="text-white fw-normal txt-h4-personalized">
                            Currency pairing CFDs enables trade at a fraction of the trade's total value
                        </h4>
                    </li>
                    <li class="li-personalized">
                        <h4 class="text-white fw-normal txt-h4-personalized">
                            Trade on margin and go long or shortPowerful charting tools integral to the markets.com intuitive platform
                        </h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>    
</section>
<section class="section section-lg ">
    <h1 class="text-center text-capitalize text-white">Our most traded Forex pairs with the lowest spreads</h1>
    <div class="container-fluid div-lead">
        <div class="row " style="padding: 2% 8% 0% 8%;">
            <div class="col" *ngFor="let dataCurrency of currencyPagination.paginatedCards">
                <h2 class="h2-personalized-regular text-center text-white">{{ dataCurrency.title }}</h2>
                <img src="{{dataCurrency.img}}" class="img-fluid img-forex mx-auto d-block" alt="">
                <h1 class="text-center text-capitalize text-white">{{ dataCurrency.text }}</h1>
            </div>
        </div>
        <app-pagination 
            [currentPage]="currencyPagination.currentPage" 
            [totalPages]="currencyPagination.totalPages" 
            (pageChanged)="onPageChangedCards($event, currencyPagination)">
        </app-pagination>
    </div>
    <br>
    <p class="text-center text-white">*Spreads are variable and may be as low as displayed above</p>

    <div class="container-fluid div-lead">
        <h1 class="text-center text-white">CFD Trading Calculator</h1>
        <div class="row" style="padding: 2% 8% 0% 8%;">
            <div class="col-md-6">
                <h3 class="text-white">Choose your points of movement</h3>
                <h6 class="text-white" style="width: 80%; size: 12px;line-height: 25px;font-weight: 400; text-transform: none;">
                    Calculate your hypothetical P/L (aggregated cost and charges) if you had opened a trade today.
                </h6>
                <form>
                    <div class="row g-3">
                        <div class="col-md-5 cols-form-personalized">
                            <label for="inputMarket" class="form-label text text-white">Market</label>
                            <select id="inputMarket" class="form-select select-personalized">
                              <option>-- Select --</option>
                              <option value="1" selected>Shares</option>
                            </select>
                        </div>
                        <div class="col-md-5 cols-form-personalized">
                            <label for="inputInstrument" class="form-label text-white">Instrument</label>
                            <select id="inputInstrument" class="form-select select-personalized">
                              <option>-- Select --</option>
                              <option value="1" selected>Apple</option>
                            </select>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-5 cols-form-personalized">
                            <label for="inputDirection" class="form-label text text-white">Direction</label>
                            <select id="inputDirection" class="form-select select-personalized chevron">
                              <option>-- Select --</option>
                              <option value="1" selected>Sell</option>
                            </select>
                        </div>
                        <div class="col-md-5 cols-form-personalized">
                            <label for="inputDirection2" class="form-label text-white"><br></label>
                            <select id="inputDirection2" class="form-select select-personalized chevron">
                              <option>-- Select --</option>
                              <option value="1" selected>Buy</option>
                            </select>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-5 cols-form-personalized">
                            <label for="inputQuantity" class="form-label text text-white">Quantity</label>
                            <select id="inputQuantity" class="form-select select-personalized">
                              <option>-- Select --</option>
                              <option value="1" selected>Shares</option>
                            </select>
                        </div>
                        <div class="col-md-5 cols-form-personalized">
                            <label for="" class="form-label text text-white"><br></label>
                            <input type="button" value="Calculate" class="text-left btn-new-crypto form-select select-personalized chevron">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 bg-black">
                <div class="col bg-primary">
                    <span class="text-white">Value</span>
                    <div class="input-group mb-3" style="width: 18rem;">                    
                        <span class="input-group-text">$</span>
                        <input type="text" placeholder="-" class="form-control" aria-label="Amount (to the nearest dollar)">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>