<footer class="footer">
    <div class="container-fluid" >
      <div class="row">
        <div class="col-md-3">
          <h1 class="text-center text-white">
            <a href="/" class="text-white text-decoration-none">
              <span class="txt-personalized-trad">Trad</span>
              <span class="txt-personalized-x">x</span>
            </a>
          </h1>
        </div> 
        
        <div class="col-md-6 offset-md-3  text-center">
          <div class="btn-wrapper profile">
            <div class="row">
              <div class="col-12 col-md-12">
                <a target="_blank" href="https://twitter.com/">
                  <img src="../../../../../assets/img/twitter.png" class="img img-fluid">
                </a>
                <a target="_blank" href="https://www.facebook.com/">
                  <img src="../../../../../assets/img/facebook.png" class="img img-fluid">
                </a>
                <a target="_blank" href="https://instagram/">
                  <img src="../../../../../assets/img/instagram.png" class="img img-fluid">
                </a>
                <a target="_blank" href="https://youtube.com/">
                  <img src="../../../../../assets/img/youtube.png" class="img img-fluid">
                </a>
                <a target="_blank" href="https://linkedin.com/">
                  <img src="../../../../../assets/img/linkedin.png" class="img img-fluid">
                </a>
              </div>              
            </div>
          </div>
        </div>
      </div>      
    </div>
  </footer>