<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src="../../../../../assets/img/logo2.png">
        </div> 
        
        <div class="col-md-6 offset-md-3  text-center">
          <div class="btn-wrapper profile">
            <div class="row">
              <div class="col-12 col-md-12">
                <a target="_blank" href="https://twitter.com/">
                  <img src="../../../../../assets/img/twitter.png" class="img img-fluid">
                </a>
                <a target="_blank" href="https://www.facebook.com/">
                  <img src="../../../../../assets/img/facebook.png" class="img img-fluid" width="50">
                </a>
                <a target="_blank" href="https://instagram/">
                  <img src="../../../../../assets/img/instagram.png" class="img img-fluid" width="50">
                </a>
                <a target="_blank" href="https://youtube.com/">
                  <img src="../../../../../assets/img/youtube.png" class="img img-fluid" width="50">
                </a>
                <a target="_blank" href="https://linkedin.com/">
                  <img src="../../../../../assets/img/linkedin.png" class="img img-fluid" width="50">
                </a>
              </div>              
            </div>
            
            <!-- <a target="_blank" href="https://www.facebook.com/">
              <img src="../../../../../assets/img/facebook.png" width="50">
            </a>
            <a target="_blank" href="https://instagram/">
              <img src="../../../../../assets/img/instagram.png" width="50">
            </a>
            <a target="_blank" href="https://youtube.com/">
              <img src="../../../../../assets/img/youtube.png" width="50">
            </a>
            <a target="_blank" href="https://linkedin.com/">
              <img src="../../../../../assets/img/linkedin.png" width="50">
            </a> -->
          </div>
        </div>
      </div>      
    </div>
  </footer>