/* You can add global styles to this file, and also import other style files */
.btn-personalized.active {
    border: 1px solid #ff1802;
    background-color: #000000;;
}

.btn-personalized {
    background-color: #0E1422;
    border: 1px solid #343434;
    border-radius: 5px;
    gap: 7px;
}