<div class="page-header">
    <app-breadcrumb></app-breadcrumb>
    <div class="content-center mb-5">
        <div class="row row-grid justify-content-between align-items-center">
            <div class="col-lg-12 col-md-12">
                <p class="text-center h0 text-capitalize mb-5">Staying Protected Online</p>
                <h2 class="text-white text-center h2-personalized-regular mt-5">
                    Important information about how to stay safe online
                </h2>
            </div>
        </div>  
        <h3 class="text-white text-center txt-h3-reg mt-5">
            TradX.com operates globally, in multiple languages and with regulated entities in the UK, EU, Australia, South Africa and BVI.
        </h3>   
    </div>
</div>
<section class="section section-lg">
    <div class="container-fluid">
        <div class="row" style="margin: 4%;">
            <div class="col-md-12">
                <p class="text-capitalize text-white h02-personalized text-center">How to protect yourself online</p>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <td><div id="circulo"></div></td>
                            <td>
                                <h1 class="text-white">Phishing</h1>
                                <h4 class="text-white txt-h4-personalized pt-0">Fraudsters commonly attempt to obtain your personal information by impersonating a trusted company and/or 
                                    presenting themselves as its employees, <br> using similar email domains. Watch out for suspicious emails where the domains appear similar to an official 
                                    source but with a tweak. These emails often <br> contain spelling mistakes or improper formatting.
                                </h4>
                            </td>
                        </tr>
                        <tr>                                
                            <td><div id="circulo"></div></td>
                            <td>
                                <h1 class="text-white">Secure browsing</h1>
                                <h4 class="text-white txt-h4-personalized pt-0">Check that the websites domain always starts with https://secured.</h4>
                            </td>
                        </tr>
                        <tr>                                
                            <td><div id="circulo"></div></td>
                            <td>
                                <h1 class="text-white">Viruses and malware</h1>
                                <h4 class="text-white txt-h4-personalized pt-0">Do not download files or programs from unknown sources to any of your devices.</h4>
                            </td>
                        </tr>
                        <tr>                                
                            <td><div id="circulo"></div></td>
                            <td>
                                <h1 class="text-white">Disclosing data</h1>
                                <h4 class="text-white txt-h4-personalized pt-0">Never share your password details or sensitive account information with anyone (such as credit card details).
                                    Markets.com or other reputable companies <br> would never ask for these details. Further, make sure that your personal data is not kept on unprotected 
                                    hardware where it can become available to <br> third party malware or hackers.
                                </h4>
                            </td>
                        </tr>
                        <tr>                                
                            <td><div id="circulo"></div></td>
                            <td>
                                <h1 class="text-white">Consult Regulators</h1>
                                <h4 class="text-white txt-h4-personalized pt-0">We urge you to consult the respective country’s regulator website, before conducting business with any
                                    investment firms, in order to ascertain which <br> entities are licensed to provide investment services and/or investment activities and their approved domains. 
                                    Additionally, most Regulators maintain approved and <br> non-approved domains which will further assist you to ascertain if a domain is approved by the regulator.
                                </h4>
                            </td>
                        </tr>
                    </table>
                </div> 
            </div>
        </div>
    </div>    
</section>
<section class="section section-lg">
    <div class="container-fluid">
        <p class="h02-personalized text-capitalize text-center text-white">Suspicious contacts impersonating TradX.com</p>
        <div class="row mb-5 align-items-center" style="margin: 4%;">
            <div class="col-md-6">
                <h2 class="text-capitalize text-white">TradX.com does not engage in any type of investment or trading advice.</h2>
                <h3 class="txt-h3-reg text-white mt-4">If you disable one or more cookie categories, we’ll stop using that type of cookie to gather any further information. However, we may still use information collected 
                    from existing cookies on your device. If you want to delete existing cookies from your browser, you’ll need to do so manually from your device.
                </h3>                
            </div>
            <div class="col-md-6 p-2">
                <div class="bg-personalized-images-staying mx-auto d-block p-5" style="width: inherit;">
                    <img class="img-responsive mx-auto d-block" src="../../../../assets/img/wallet-with-currencies.png" width="120" alt="" srcset="">
                </div>
            </div>
        </div>
        <div class="row mt-5 align-items-center" style="margin: 4%;">
            <div class="col-md-6">
                <div class="bg-personalized-images-staying mx-auto d-block p-5" style="width: inherit;">
                    <img class="img-responsive mx-auto d-block" src="../../../../assets/img/phone-signal-warning.png" width="140" alt="" srcset="">
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="text-capitalize text-white">
                    Under no circumstances any employees of markets.com will ever contact you requesting to make a deposit and wire your money anywhere.
                </h2>
                <h3 class="txt-h3-reg text-white mt-4">
                    The decision to fund your account is entirely yours and we can assist you with your request by contacting Customer Support. The only time we will ever contact you directly 
                    about payment is if your account funds fall below the necessary margin requirements (margin call). In the event you are contacted by anyone who asks you to make a deposit 
                    or wire your money anywhere - very likely, this is an attempt to defraud you. markets.com does not manage your account, your account is managed solely by you. It is important 
                    to mention that in relation to any payment to fund your account with us, the bank account details will have as billing descriptor the company’s legal name. We note that the 
                    company’s payment details and solutions are available online via our cashier.
                </h3>
            </div>
        </div>
        <div class="row mt-5 align-items-center" style="margin: 4%;">
            <div class="col-md-6">
                <h2 class="text-capitalize text-white">
                    High Risk Investment Warning.
                </h2>
                <h3 class="txt-h3-reg text-white mt-4">
                    Furthermore, no profits are promised, and as our High Risk Investment Warning clearly states, CFDs are complex instruments and come with a high risk of losing money.
                    Kindly note that our contact details can always be found in the footer of our website.
                    Scammers at times will register similar domains, with minor spelling differences, and copy our website design in an attempt to deceive visitors. These copies can sometimes be very convincing.
                </h3>                
            </div>
            <div class="col-md-6">
                <div class="bg-personalized-images-staying mx-auto d-block p-5" style="width: inherit;">
                    <img class="img-responsive mx-auto d-block" src="../../../../assets/img/search-web-site.png" width="180" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-lg">
    <div class="container-fluid">
        <div class="row" style="margin: 4%;">
            <div class="col-md-12">
                <p class="h02-personalized text-capitalize text-center text-white">Suspicious contacts impersonating TradX.com</p>
                <h2 class="mt-5 text-capitalize text-center text-white h2-opt2">
                    We provide below a list with the fraudulent websites that we <br> have identified over the years, however it is important <br> to note that this list is not exhaustive:
                </h2>
                <h3 class="text-center text-white txt-h3-reg">www.xyx.com <br> www.xyz.com</h3>
            </div>
        </div>
    </div>
</section>
<section class="section section-lg">
    <div class="container div-lead">
        <h4 class="text-center text-white p-4 txt-h4-personalized">You should avoid engaging in any communications with the above websites.</h4>
    </div>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-12">
                <p class="text-capitalize text-center text-white h02-personalized">
                    Below we have listed some of the most 
                    <br> common methods used by impersonators for <br> 
                    <span class="h02-personalized-color">your attention and awareness:</span>
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row card-container">
          <div class="col-12 col-md-6">
            <div class="card p-3">
              <div class="d-flex align-items-center mb-2">
                <span class="card-icon">🔔</span>
                <h5 class="card-title mb-0">Scammer promises</h5>
              </div>
              <p class="card-text">They promise guaranteed profit returns and urge investors to deposit funds via wire transfers to various bank accounts with different beneficiaries.</p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card p-3">
              <div class="d-flex align-items-center mb-2">
                <span class="card-icon">🔔</span>
                <h5 class="card-title mb-0">Scammers requesting</h5>
              </div>
              <p class="card-text">They are requesting investors to make additional deposits for tax purposes so that they can proceed with the withdrawal of their account balance or their deposits.</p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card p-3">
              <div class="d-flex align-items-center mb-2">
                <span class="card-icon">🔔</span>
                <h5 class="card-title mb-0">Fake documentation</h5>
              </div>
              <p class="card-text">They provide fake documentation such as brochures, contracts and/or bank guarantees that bear unauthorised and unverified electronic signatures derived from publicly available information.</p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card p-3">
              <div class="d-flex align-items-center mb-2">
                <span class="card-icon">🔔</span>
                <h5 class="card-title mb-0">Scammers asking you</h5>
              </div>
              <p class="card-text">They are asking investors to share with them bank account details and/or credit card details or other personal data over the phone, which is something that we will never ask you to do.</p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card p-3">
              <div class="d-flex align-items-center mb-2">
                <span class="card-icon">🔔</span>
                <h5 class="card-title mb-0">Fake asset manager</h5>
              </div>
              <p class="card-text">They present themselves as being the client's assigned asset manager & contact person. Noting that only clients manage their own accounts no accounts are managed by the Company nor its employees.</p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card p-3">
              <div class="d-flex align-items-center mb-2">
                <span class="card-icon">🔔</span>
                <h5 class="card-title mb-0">False information</h5>
              </div>
              <p class="card-text">They falsely inform investors that the Company is closing its retail client accounts and it's upgrading all accounts to corporate and/or professional accounts and therefore being qualified to receive a refund in order to entice investors to deposit funds.</p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card p-3">
              <div class="d-flex align-items-center mb-2">
                <span class="card-icon">🔔</span>
                <h5 class="card-title mb-0">Requesting bank details</h5>
              </div>
              <p class="card-text">They falsely inform you that the Company is transferring your account to another group entity, and they request your bank account details and other personal information to complete the transfer.</p>
            </div>
          </div>
        </div>
      </div>
</section>