<div class="page-header">
  <div class="content-center">
    <div class="row row-grid justify-content-between align-items-center text-left">
      <div class="col-lg-12 col-md-12">
        <p class="text-white text-center h0">Be The Master With Us</p>
        <h1 class="text-white text-center">Achieve, Trading Excellence</h1>
        <h3 class="text-white text-center txt-h3-crypto">Crypto, forex, and commodities. No sign up required.</h3>
        
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button class="btn-primary me-md-2 btn-lg btn-start-trading" type="button">Start Trading &nbsp;<i class="fas fa-chevron-right"></i></button>
          <button class="btn-primary btn-lg btn-new-crypto" type="button">New to Crypto &nbsp;<i class="fas fa-chevron-right chevron-personalized"></i></button>
        </div>
      </div>        
    </div>      
  </div>
</div>
<div class="img-chart">
  <img src="../../assets/img/backgroung-chart3.png" class="img-fluid">
  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <button class="btn-primary btn-lg btn-make-profits" type="button">Learn to Make Profits &nbsp;<i class="fas fa-chevron-right chevron-personalized"></i></button>      
  </div>    
</div>
<h4 class="text-center text-white">Clickable Demo Account for Trading</h4>
<section class="section section-lg">
  <div class="container">
      <h1 class="text-center text-white">Check Our</h1>
      <h1 class="text-center text-white"><span class="h1-personalized"> Most Traded</span> Currency Pairs</h1>
  </div>

  <app-carousel [imagenes]="imagenes" direction="left"></app-carousel>
  <app-carousel [imagenes]="imagenes" direction="right"></app-carousel>
  <app-carousel [imagenes]="imagenes" direction="left"></app-carousel>
  <app-carousel [imagenes]="imagenes" direction="right"></app-carousel>
  
  <br>
  <p class="text-center text-white">What are Currency pairs?</p>
</section>

<section>
  <div class="container text-center div-lead">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center text-white h1-txt-lead">
          <span class="h1-personalized"> Lead With Our</span> 
          Winnig Platform 
          <span class="txt-personalized-trad">Trad</span>
          <span class="txt-personalized-x">x</span>
        </h1>
      </div>
    </div>
  </div>
</section>

